aula-7/dto/src/test/resources/xmlSchema/comunicacaoSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Comunicado">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="detalhe"/>
                <xs:element name="individuo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="id"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="meio">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="alternativo"/>
                            <xs:element type="xs:byte" name="codigo"/>
                            <xs:element type="xs:string" name="descricao"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="preferencia">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="codigo"/>
                            <xs:element type="xs:string" name="descricao"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="uso">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="alternativo"/>
                            <xs:element type="xs:byte" name="codigo"/>
                            <xs:element type="xs:string" name="descricao"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>