aula-7/dto/src/test/resources/xmlSchema/enderecoSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Endereco">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="bairro"/>
                <xs:element type="xs:int" name="caixapostal"/>
                <xs:element type="xs:int" name="cep"/>
                <xs:element type="xs:dateTime" name="dataFinal"/>
                <xs:element type="xs:dateTime" name="dataFinalAcuracia"/>
                <xs:element type="xs:dateTime" name="dataInicial"/>
                <xs:element type="xs:string" name="distrito"/>
                <xs:element name="estado">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:short" name="codigo"/>
                            <xs:element type="xs:string" name="nome"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="id"/>
                <xs:element name="individuo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="id"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="municipio">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:short" name="codigo"/>
                            <xs:element type="xs:string" name="estado"/>
                            <xs:element type="xs:string" name="municipio"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="pais">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:short" name="codigo"/>
                            <xs:element type="xs:string" name="nome"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tipo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="codigo"/>
                            <xs:element type="xs:string" name="descricao"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>