aula-7/dto/src/test/resources/xmlSchema/identificadorSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Identificador">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="area"/>
                <xs:element name="certidaoTipo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="codigo"/>
                            <xs:element type="xs:string" name="descricao"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:dateTime" name="data"/>
                <xs:element type="xs:string" name="designacao"/>
                <xs:element type="xs:string" name="emissor"/>
                <xs:element type="xs:string" name="id"/>
                <xs:element name="individuo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="id"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tipo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="codigo"/>
                            <xs:element type="xs:string" name="descricao"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>