aula-7/dto/src/test/resources/xmlSchema/nomeSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Nome">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="id"/>
                <xs:element name="individuo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="id"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="nomes"/>
                <xs:element name="preferido">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="codigo"/>
                            <xs:element type="xs:string" name="descricao"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="sobrenomes"/>
                <xs:element type="xs:string" name="sufixos"/>
                <xs:element type="xs:string" name="titulos"/>
                <xs:element name="usoCondicional">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="codigo"/>
                            <xs:element type="xs:string" name="descricao"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>