aula-7/dto/src/test/resources/xmlSchema/utilizacaoSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Utilizacao">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:dateTime" name="dataFinal"/>
                <xs:element type="xs:dateTime" name="dataInicio"/>
                <xs:element name="identificador">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="area"/>
                            <xs:element name="certidaoTipo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="codigo"/>
                                        <xs:element type="xs:string" name="descricao"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:dateTime" name="data"/>
                            <xs:element type="xs:string" name="designacao"/>
                            <xs:element type="xs:string" name="emissor"/>
                            <xs:element type="xs:string" name="id"/>
                            <xs:element name="individuo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="id"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tipo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="codigo"/>
                                        <xs:element type="xs:string" name="descricao"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="nome">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="id"/>
                            <xs:element name="individuo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="id"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="nomes"/>
                            <xs:element name="preferido">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="codigo"/>
                                        <xs:element type="xs:string" name="descricao"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="sobrenomes"/>
                            <xs:element type="xs:string" name="sufixos"/>
                            <xs:element type="xs:string" name="titulos"/>
                            <xs:element name="usoCondicional">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="codigo"/>
                                        <xs:element type="xs:string" name="descricao"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="uso">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="alternativo"/>
                            <xs:element type="xs:byte" name="codigo"/>
                            <xs:element type="xs:string" name="descricao"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>